@charset "UTF-8";
body
{
	text-align: center;
	padding-top: 20px;
}

canvas
{
	position: relative;
	z-index: 2;
	border: thin solid #333;
	display: block;
	margin: 0 auto;
}

.hide-me
{
	display: none;
}

button {
	margin: 10px 8px;
	cursor: pointer;
	padding: 4px;
}